<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<context:component-scan base-package="polymorphism"></context:component-scan>
<!-- 
	<bean id="tv" class="polymorphism.SamsungTV">
		<constructor-arg name="speaker" ref="apple"></constructor-arg>
		<constructor-arg name="price" value="270000"></constructor-arg>
	</bean>
	
	<bean id="tv" class="polymorphism.SamsungTV"
		p:speaker-ref="sony" p:price="270000"/> 라고 써도됨
	
	<bean id="sony" class="polymorphism.SonySpeaker"></bean>
	<bean id="apple" class="polymorphism.AppleSpeaker"></bean>
	
	<bean id="collectionBean"
		class="com.springbook.ioc.injection.CollectionBean">
		 <property name="addressList">
			<list>
				<value>서울시 강남구 역삼동</value>
				<value>서울시 성동구 행당동</value>
				<value>서울시 은평구 불광동</value>
			</list>
			<set value-type = "java.lang.String">
				<value>서울시 강남구 역삼동</value>
				<value>서울시 성동구 행당동</value>
				<value>서울시 은평구 불광동</value>
			</set>
			<map>
			<entry>
			<key><value>고길동</value></key>
			<value>서울시 강남구 역삼동</value>
			</entry>
				<entry>
			<key><value>마이콜</value></key>
			<value>서울시 강남구 불광동</value>
			</entry>
			</map>
		</property>
		
		</bean>-->
	 
</beans>



